[Unit]
Description=Zookeeper Systemd File
After=syslog.target network.target zookeeper.service

[Service]
#LimitNOFILE=infinity
#LimitNPROC=infinity
#LimitAS=infinity
#LimitFSIZE=infinity
#LimitNOFILE=4096
#IgnoreSIGPIPE=false
User=root
Group=root
Environment="KAFKA_HOME_PATH=/root/kafka"
SyslogIdentifier=kafka
PIDFile=/var/run/kafka/kafka.pid
LOG_FILE=/var/log/kafka/kafka.log
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/run/kafka /var/log/kafka /data/kafka
ExecStartPre=/bin/chown -R root:root /var/run/kafka /var/log/kafka /data/kafka 
ExecStart=/bin/bash -c "/root/kafka/bin/kafka-server-start.sh /root/kafka/config/server.properties >> /var/log/kafka/kafka.log  2>&1 & echo $! > /var/run/kafka/kafka.pid"
#SuccessExitStatus=143
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target